body {
    margin: 0;
    padding: 0;
}
h2,h3 {
    font-size: 18px;
    width: 150px;
    overflow-wrap: break-word;
    color: #2e2f8d;
    margin-left: 30px;
    justify-content: center;
}
h3 {
    font-size: 16px;
    overflow-wrap: break-word;
    color: #2e2f8d;
    margin-left: 10px;
    justify-content: center;
}
fieldset {
    position: relative;
    width: 100px;
    margin-left: 10px;
}
em, p {
    height: 50px;
    width: 150px;
    overflow-wrap: break-word;
    margin-left: 20px;
    font-size: 14px;
}
.map-overlay {
    position: absolute;
    background: white;
    overflow: auto;
    border:4px;
    border-style: solid;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
legend{
    color: #eb7626;
    font-size: 14px;
}
select {
    color: #2e2f8d;
}
#features {
    height: 320px;
    width: 210px;
    opacity: 1;
    margin-left: 25px;
    border-color: #2e2f8d;
    border-radius: 4px;
    text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 25px;
  height: 2.5rem;
}
#source {
    width: 200px;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    text-align: left;
}
*{
    margin-top: 10px;
    word-wrap: break-word;
    font-family: 'Amazon Ember', sans-serif;
    text-align: center;
}
