body {
    margin: 0;
    padding: 0;
}
h2,h3 {
    font-size: 18px;
    width: 450px;
    overflow-wrap: break-word;
    color: #2e2f8d;
    margin-left: 30px;
    justify-content: center;
}
h3 {
    font-size: 16px;
    overflow-wrap: break-word;
    color: #2e2f8d;
    margin-left: 10px;
    justify-content: center;
}
fieldset {
    position: relative;
    width: 450px;
    margin-left: 10px;
}
em, p {
    width: 450px;
    overflow-wrap: break-word;
    font-size: 14px;
}
.map-overlay {
    position: absolute;
    background: white;
    overflow: auto;
    border:4px;
    border-style: solid;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
legend{
    color: #2e2f8d;
    font-size: 14px;
}
select {
    width: 95%;
    height: 30px;
}
#features {
    height: 95%;
    width: 500px;
    opacity: 1;
    margin-left: 10px;
    border-color: #2e2f8d;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}
#districtmap {
    width: 500px;
    margin-left: 5px;
}
footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  height: 2.5rem;
  margin-right: 20px;
}
#source {
    font-size: 10px;
    margin-left: 5%;
    margin-bottom: 5px;
}
*{
    word-wrap: break-word;
    font-family: 'Amazon Ember', sans-serif;
    text-align: center;
}
