@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
}
.section{
    border: 1px solid #eaeaea;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    width: 100%;
    align-items: center;
    text-align: center
}
table {
    width: 100%;
}
#yearFilter {
    margin-bottom: 20px;
}
#image-container img {
    display: none;
    height: 500px;
}
#image-container img.active {
    display: block;
}
.tabulator-row-detail {
    padding-left: 30px;
    background-color: #f9f9f9;
}
.tabulator-row.expanded {
    background-color: #e9e9e9;
}
/* Ensure the section takes the full viewport height */
#highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; /* Adjust the width as needed */
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.box {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    font-size: 42px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.box-title {
    margin-bottom: 10px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    text-align: center;
    color: #000; /* Adjust as needed */
}
